!!! 5
%html
	%head
		%title
			= current_page.data.title
		%meta{:charset => "utf-8"}
		%meta{:name => "keywords", :content => "tsumego, go problems, study, pdf, download, print"}
		%meta{:name => "description", :content => current_page.data.description}
		%meta{:name => "viewport", :content => "width=device-width"}
		%meta{:name => "theme-color", :content => "#1b1b1b"}
		#{favicon_tag "favicon.svg"}
		#{stylesheet_link_tag "pure-min"}
		#{stylesheet_link_tag "pure-grids-responsive-min"}
		#{stylesheet_link_tag "style"}

	%body
		#header
			= render_partial 'header'
		#content
			.pad
				= yield
		%footer
			= render_partial 'footer'
