!!! 5
%html
	%head
		%title
			= current_page.data.title
		%meta{:charset => "utf-8"}
		%meta{:name => "keywords", :content => "tsumego, go problems, study, pdf, download, print"}
		%meta{:name => "description", :content => current_page.data.description}
		%meta{:name => "viewport", :content => "width=device-width"}
		#{favicon_tag "favicon.png"}
		#{stylesheet_link_tag "style"}
		#{javascript_include_tag "/javascripts/jquery.min.js"}
		#{javascript_include_tag "/javascripts/bootstrap.min.js"}

	%body
		#wrap
			= render_partial 'header'
			.container
				= yield
			#push
		= render_partial 'footer'
