!!! 5
%html
	%head
		%title
			= current_page.data.title
		%meta{:charset => "utf-8"}
		%meta{:name => "keywords", :content => "tsumego, go problems, study, pdf, download, print"}
		%meta{:name => "description", :content => current_page.data.description}
		%meta{:name => "viewport", :content => "width=device-width"}
		#{favicon_tag "favicon.png"}
		#{stylesheet_link_tag "//fonts.googleapis.com/css?family=Titillium+Web:400,700,400italic"}
		#{stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.2/css/font-awesome.min.css"}
		#{stylesheet_link_tag "style"}
		#{javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
		#{javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"}
		= render_partial 'analytics'

	%body
		#wrap
			= render_partial 'header'
			.container
				= yield
			#push
		= render_partial 'footer'
